<!DOCTYPE html>
<html lang="en">
  <head>
        <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
  </head>

<h1>Comments#create</h1>

<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <%= f.hidden_field :link_id, :value => @link.id %>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message, :placeholder => "Add a comment" %>
  </div>
  <div class="actions">
    <%= f.submit, class:"btn btn-large btn-primary" %>
  </div>
<% end %>
</html>