<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sign in &middot; Twitter Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
 
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">


</head>
<h4>New link</h4>


  <%= form_for @link do |f| %>
    <% if @link.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

        <ul>
        <% @link.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="title">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="url">
      <%= f.label :url %><br />
      <%= f.url_field :url %>
    </div>
    <div class="actions">
      <%= f.submit "Create", class:"btn btn-large btn-primary" %>
    </div>
  <% end %>

</html>