
<h4>Here is your link!</h4>


<p>
  <strong>Link name:</strong>
	<%= @link.try(:title) %>
</p>

<p>
  <strong>URL:</strong>
	<%= @link.try(:url) %>
</p>


<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <%= f.hidden_field :link_id, :value => @link.id %>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message, :placeholder => "Add your comment here!" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h2>Comments:<h2>
<div>
  <% @link.comments.each do |comment| %>
    <h4 style="font-family: Verdana; font-size: 14px" ><%= comment.message %> <h4 style="font-family: cursive; font-size: 11px" >User number <%= comment.user_id %> wrote at <%= comment.created_at %></h4> </h4>
    
  <% end %>
</div>







